   <br>
   <div class="col-sm-8 mx-auto" id="editor">
  {{!-- <embed src="/pdfs/planillas.pdf" type="application/pdf" width="500" height="675" /> --}}
    <iframe  src="/pdfs/{{file}}" type="application/pdf" width="900" height="675" ></iframe> 
  </div>
